{% extends 'partials/base.html' %}
{% load static %}
{% block content %}    

<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-post-slides owl-carousel">

        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url({% static 'img/bg-img/1.jpg' %});"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>Plants exist in the weather and light rays that surround them</h2>
                            <div class="welcome-btn-group">
                                <a href="{% url 'userauths:sign-up' %}" class="btn alazea-btn mr-30">GET REGISTERED</a>
                                <a href="{% url 'core:product' %}" class="btn alazea-btn active">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url({% static 'img/bg-img/2.jpg' %});"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>Plants exist in the weather and light rays that surround them</h2>
                            <div class="welcome-btn-group">
                                <a href="{% url 'userauths:sign-up' %}" class="btn alazea-btn mr-30">GET REGISTERED</a>
                                <a href="{% url 'core:product' %}" class="btn alazea-btn active">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### Service Area Start ##### -->
<section class="our-services-area bg-gray section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>OUR SERVICES</h2>
                    <p>We provide the perfect service for you.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <div class="alazea-service-area mb-100">

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="{% static 'img/core-img/s1.png' %}" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Plants Care</h5>
                            <p>In Aenean purus, pretium sito amet sapien denim moste consectet sedoni urna placerat sodales.service its.</p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="300ms">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="{% static 'img/core-img/s2.png' %}" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Pressure Washing</h5>
                            <p>In Aenean purus, pretium sito amet sapien denim moste consectet sedoni urna placerat sodales.service its.</p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="{% static 'img/core-img/s3.png' %}" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Tree Service &amp; Trimming</h5>
                            <p>In Aenean purus, pretium sito amet sapien denim moste consectet sedoni urna placerat sodales.service its.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="alazea-video-area bg-overlay mb-100">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/PTSjnVvqsCM?si=TJpw24BdMQHWprbN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Service Area End ##### -->

<!-- ##### About Area Start ##### -->
<section class="about-us-area section-padding-100-0">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>ABOUT US</h2>
                    <p>We are leading in the plants service fields.</p>
                </div>
                <p>Quisque orci quam, vulputate non commodo finibus, molestie ac ante. Duis in sceleri quesem. Nulla sit amet varius nunc. Maecenas dui, tempeu ullam corper in.</p>

                <!-- Progress Bar Content Area -->
                <div class="alazea-progress-bar mb-50">
                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar">
                        <p>Office plants</p>
                        <div id="bar1" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="80"></span>
                        </div>
                    </div>

                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar">
                        <p>Field manager</p>
                        <div id="bar2" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="70"></span>
                        </div>
                    </div>

                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar">
                        <p>Landscape design</p>
                        <div id="bar3" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="85"></span>
                        </div>
                    </div>

                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar">
                        <p>Garden Care</p>
                        <div id="bar4" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="65"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="alazea-benefits-area">
                    <div class="row">
                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="{% static 'img/core-img/b1.png' %}" alt="">
                                <h5>Quality Products</h5>
                                <p>Intiam eu sagittis est, at commodo lacini libero. Praesent dignissim sed odio vel aliquam manta lagorn.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="{% static 'img/core-img/b2.png' %}" alt="">
                                <h5>Perfect Service</h5>
                                <p>Intiam eu sagittis est, at commodo lacini libero. Praesent dignissim sed odio vel aliquam manta lagorn.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="{% static 'img/core-img/b3.png' %}" alt="">
                                <h5>100% Natural</h5>
                                <p>Intiam eu sagittis est, at commodo lacini libero. Praesent dignissim sed odio vel aliquam manta lagorn.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="{% static 'img/core-img/b4.png' %}" alt="">
                                <h5>Environmentally friendly</h5>
                                <p>Intiam eu sagittis est, at commodo lacini libero. Praesent dignissim sed odio vel aliquam manta lagorn.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="border-line"></div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Area End ##### -->


<!-- ##### Product Area Start ##### -->
<section class="new-arrivals-products-area bg-gray section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>NEW ARRIVALS</h2>
                    <p>We have the latest products, it must be exciting for you</p>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Product Area -->
            {% for p in products %}
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Product Image -->
                    <div class="product-img">
                        <a href="{% url 'core:product-detail' p.pid %}"><img src="{{ p.image.url }}" alt=""></a>
                        <!-- Product Tag -->
                        <div class="product-tag sale-tag">
                            <a href="#">-{{p.get_percentage|floatformat:0}}%</a>
                        </div>
                        <div class="product-meta d-flex">
                            <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ p.id }}">
                            <input type="hidden" value="{{p.pid}}" class="product-pid-{{ p.id }}">
                            <input type="hidden" value="{{p.image.url}}" class="product-image-{{ p.id }}">
                            <input type="hidden" value="{{p.id}}" class="product-id-{{ p.id }}">
                            <input type="hidden" name="title" value="{{ p.title }}" class="product-title-{{ p.id }}">
                            <div class="d-flex">
                                <button data-index="{{ p.id }}" class="alazea-btn ml-15 add-to-cart-btn" >Add to cart</button>
                            </div>
                        </div>
                    </div>
                    <!-- Product Info -->
                    <div class="product-info mt-15 text-center">
                        <a href="{% url 'core:product-detail' p.pid %}">
                            <p>{{ p.title }}</p>
                        </a>
                       <div style="display: flex; justify-content: center;">
                        <span>₹</span><h6 class="current-product-price-{{p.id}}">{{p.price}}</h6>
                       </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-12 text-center">
                <a href="{% url 'core:product' %}" class="btn alazea-btn">View All</a>
            </div>

        </div>
    </div>
</section>
<!-- ##### Product Area End ##### -->

<!-- ##### Blog Area Start ##### -->
<section class="alazea-blog-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>LATEST NEWS</h2>
                    <p>The breaking news about Gardening &amp; House plants</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <!-- Single Blog Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-post mb-100">
                    <div class="post-thumbnail mb-30">
                        <a href="single-post.html"><img src="{% static 'img/bg-img/6.jpg' %}" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">
                            <h5>Garden designers across the country forecast ideas shaping the gardening world in 2018</h5>
                        </a>
                        <div class="post-meta">
                            <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 20 Jun 2018</a>
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Alan Jackson</a>
                        </div>
                        <p class="post-excerpt">Integer luctus diam ac scerisque consectetur. Vimus ottawas nec lacus sit amet. Aenean interdus mid vitae.</p>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-post mb-100">
                    <div class="post-thumbnail mb-30">
                        <a href="single-post.html"><img src="{% static 'img/bg-img/7.jpg' %}" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">
                            <h5>2018 Midwest Tree and Shrub Conference: Resilient Plants for a Lasting Landscape</h5>
                        </a>
                        <div class="post-meta">
                            <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 20 Jun 2018</a>
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Christina Aguilera</a>
                        </div>
                        <p class="post-excerpt">Integer luctus diam ac scerisque consectetur. Vimus ottawas nec lacus sit amet. Aenean interdus mid vitae.</p>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-post mb-100">
                    <div class="post-thumbnail mb-30">
                        <a href="single-post.html"><img src="{% static 'img/bg-img/8.jpg' %}" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">
                            <h5>The summer coming up, it’s time for both us and the flowers to soak up the sunshine</h5>
                        </a>
                        <div class="post-meta">
                            <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 19 Jun 2018</a>
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Mason Jenkins</a>
                        </div>
                        <p class="post-excerpt">Integer luctus diam ac scerisque consectetur. Vimus ottawas nec lacus sit amet. Aenean interdus mid vitae.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### Blog Area End ##### -->


{% endblock content %}   