{% extends 'partials/base1.html' %}
{% load static %}
{% block content %}
<div class="main">
  <div class="topbar">
      <div class="toggle">
          <ion-icon name="menu-outline"></ion-icon>
      </div>
  </div>

  <!-- ================ Order Details List ================= -->
  <div class="details">
      <div class="recentOrders">
          <div class="cardHeader">
              <h2>Dashboard</h2>
          </div>
          <div>
            <h3>Hello {{request.user|title}}</h3>
            <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent orders </a>,<br/>
              manage your <a href="#">shipping and billing address</a> and <a href="#">edit your password and account</a>
            </p>
          </div>
      </div>
  </div>
</div>
{% endblock content %}