{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

 <!-- ##### Breadcrumb Area Start ##### -->
 <div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/bg-img/24.jpg' %});">
        <h2>{{ subcategory.title }}</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'core:index' %}"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'core:product' %}">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ subcategory.title }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Shop Area Start ##### -->
<section class="shop-page section-padding-0-100">
    <div class="container">
        <div class="row">
            
        </div>

        <div class="row">
            <!-- Sidebar Area -->
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop-sidebar-area">

                    <!-- Shop Widget -->
                    <div class="shop-widget price mb-50">
                        <h4 class="widget-title">Prices</h4>
                        <div class="widget-desc">
                            <div class="slider-range">
                                <input type="range" name="ranDge" id="range" value="{{min_max_price.price__min|floatformat:2}}" class="slider-range" min="{{min_max_price.price__min}}" max="{{min_max_price.price__max}}" oninput="max_price.value=this.value">
                                <div class="caption">From:<strong id="slider-range-value1" class="text-brand">₹{{min_max_price.price__min|floatformat:2}}</strong></div>
                                <div class="caption">To:<strong id="slider-range-value2" class="text-brand">₹{{min_max_price.price__max|floatformat:2}}</strong></div>
                            </div> 
                            <input type="number" id="max_price" value="{{min_max_price.price__min|floatformat:2}}"  min="{{min_max_price.price__min}}" max="{{min_max_price.price__max}}" placeholder="Current Price" onkeyup="range.value=this.value">
                            <div class="custom-checkbox">
                                <button class="btn alazea-btn mr-30" type="button" id="price-filter-btn">Filter</button>
                            </div>
                        </div>
                    </div>

                    <!-- Shop Widget -->
                    <div class="shop-widget catagory mb-50">
                        <h4 class="widget-title">Sub-Categories</h4>
                        <div class="widget-desc">
                            <!-- Single Checkbox -->
                            {% for s in subcategories %}
                            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
                                <input class="form-check-input filter-checkbox" type="checkbox" name="checkbox" data-filter="subcategory" id="customCheck1"  value="{{s.id}}"/>
                                <a href="{% url 'core:product-category-list' s.sid %}">{{s.title}}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                   

                    
                </div>
            </div>

            <!-- All Products Area -->
            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop-products-area">
                    <div class="row" id="filtered-product">

                        <!-- Single Product Area -->
                        {% for p in products %}
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <a href="{% url 'core:product-detail' p.pid %}"><img src="{{ p.image.url }}" alt=""></a>
                                    <!-- Product Tag -->
                                    <div class="product-tag sale-tag">
                                        <a href="#">-{{p.get_percentage|floatformat:0}}%</a>
                                    </div>
                                    <div class="product-meta d-flex">
                                        
                                        <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ p.id }}">
                                        <input type="hidden" value="{{p.pid}}" class="product-pid-{{ p.id }}">
                                        <input type="hidden" value="{{p.image.url}}" class="product-image-{{ p.id }}">
                                        <input type="hidden" value="{{p.id}}" class="product-id-{{ p.id }}">
                                        <input type="hidden" name="title" value="{{ p.title }}" class="product-title-{{ p.id }}">
                                        <button data-index="{{ p.id }}" class="alazea-btn ml-10 add-to-cart-btn" >Add to cart</button>
                                    </div>
                                </div>
                                <!-- Product Info -->
                                <div class="product-info mt-15 text-center">
                                    <a href="{% url 'core:product-detail' p.pid %}">
                                        <p>{{p.title}}</p>
                                    </a>
                                    <h6>{{p.price}}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Pagination -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Shop Area End ##### -->

{% endblock content %}